/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap');

/* Asterisk wildcard overrides*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables */

:root {
  --color-charcoal: #1A1A1A;
  --color-white: #FAFAFA;
  --color-teal: #00C2A8;
  --color-warm-grey: #E5E5E5;
  --color-deep-blue: #0D1B2A;

  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-warm-grey);
  --color-bg-dark: var(--color-charcoal);
  --color-bg-light: var(--color-white);
  --color-accent: var(--color-teal);
}



/* Global styles */
body {
  background-color: var(--color-accent);
  background: url("../images/mynor-castaneda.jpg") no-repeat center center fixed;
  background-size: cover;
<<<<<<< HEAD
  height: 600px;
  width: 100%;
=======
  min-height: auto; /* adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> fde162f808efef1323c58bef1ccc09c040ab3a04
}

/* Fonts to be used for headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Manrope", sans-serif;
  color:var(--color-text-secondary)
}

/* Paragraph fonts*/
p {
  font-family: 'Manrope', sans-serif;
  color: var(--color-warm-grey);
  width: 100%;
  border: 1px solid var(--color-charcoal-grey);
}

/* Navbar */
.navbar-nav .nav-link {
  white-space: nowrap;
}

.navbar {
  background-color: var(--color-teal) !important;
}


/* Header and Footer */
#header {
  padding-top: 60.15px;
  display: flex;
  margin: 7px 25px;
}

#footer {
  height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--color-bg-dark);
  align-items: center;
}

#footer strong {
  color:var(--color-white);
}
